$yellow: #EEB143;
$baby-blue: #C1D3E8;
$dark-yellow: #FF9948;
$light-blue: #EEF6FF;
$darker-blue: #385577;
$dark-blue: #496687;
$menu-color: #222d32;
$light-gray: #e8e8e8;
$light-text: #616060;
$red: #DB6868;
$white-bg: #fff;
$dark-bg: #373737;